.menu {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
}

.menu span {
    opacity: .7;
    cursor: pointer;
    margin-right: 50px;
}

.menu span a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu span:hover {
    opacity: 1;
}