<div class="container">
    <h1>Carrinho</h1>
    <div class="itens-container">
        <div class="itens" *ngFor="let item of produtos">
            <div class="item-container" *ngIf="item">
                <span>{{ item.produto.nome }}</span>
                <span>{{ item.qtd }} x R${{ item.produto.preco | number: '1.2-2' }} </span>
                <div class="item-opcoes">
                    <mat-icon id="iconAdd" (click) = "addQtdProduto(item)">add</mat-icon>
                    <mat-icon id="iconRemove" (click) = "rmvQtdProduto(item)">remove</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="total">
        <span>Total:</span>
        <span>R${{ total | number: '1.2-2' }}</span>
    </div>
    <button (click) = "concluirPedido()"><span>Confirmar pedido</span></button>
</div>
