nav {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 50px;
    align-items: center;
}

nav span {
    font-size: 1.2em;
    margin-top: 15px;
}

nav span a{
    text-decoration: none;
    color: #FFFFFF;
    opacity: .7;
}

nav span a:hover {
    opacity: 1;
}

.container {
    margin-top: 20px;
    min-height: 85%;
    max-height: 85%;
    border-radius: 15px;
    overflow-y: scroll;
    margin: 10px 20px 0px 20px;
}

.main-content {
    padding: 15px 60px 15px 60px;
}

.opcoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}